<link rel="stylesheet" href="../content/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
  <h1>BAND TRACKER</h1>
  <hr />
  <h2>Band: @Model["band"].GetName()</h2>
  <br>
  @if (@Model["venues"].Count != 0)
  {
    <h3>Here are the current venues for this band:</h3>
    <ul>
      @foreach (var venue in @Model["venues"])
      {
        <li>@venue.GetName() <a href="/bands/@Model["band"].GetId()/band_delete_venue/@venue.GetId()">Delete</a></li>
      }
    </ul>
  }
  else
  {
    <h4>No Current Venues!</h4>
  }
  <br>
  <h3>Add a venue to this band:</h3>
  <form action='/bands/add_venue' method='post'>
    <input name='band-id' type='hidden' value='@Model["band"].GetId()'>
    <select id='venue-id' name='venue-id' type='text'>
      @foreach (var venue in @Model["allVenues"])
      {
        <option value='@venue.GetId()'>@venue.GetName()</option>
      }
    </select>
    <button type='submit'>Add</button>
  </form>
  <br>
  <h2><a href="/bands/">View all bands</a></h2>
  <br>
  <h2><a href="/">Back to Main Page</a></h2>
</body>
