<link rel="stylesheet" href="../content/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
  <h1>BAND TRACKER</h1>
  <hr />
  <h2>Venue: @Model["venue"].GetName()</h2>
  <br>
  @if (@Model["bands"].Count != 0)
  {
    <h4>Here are all the bands at this venue:</h4>
    <ul>
      @foreach (var band in @Model["bands"])
      {
        <li>@band.GetName() <a href="/venues/@Model["venue"].GetId()/venue_delete_band/@band.GetId()">Delete</a></li>
      }
    </ul>
  }
  else
  {
    <p>No Current Bands!</p>
  }
  <br>
  <h4>Add a band to this venue:</h4>
  <form action='/venues/add_band' method='post'>
    <input name='venue-id' type='hidden' value='@Model["venue"].GetId()'>
    <label for='band-id'>Select a task</label>
    <select id='band-id' name='band-id' type='text'>
      @foreach (var band in @Model["allBands"])
      {
        <option value='@band.GetId()'>@band.GetName()</option>
      }
    </select>
    <button type='submit'>Add</button>
  </form>
  <br>
  <br>
  <h2><a href="/venues/">View all venues</a></h2>
  <br>
  <h2><a href="/">Back to Main Page</a></h2>
</body>
